{% extends 'base.html' %}

{% block header %}
<div class="md:mx-16 mt-5">
    {% with height=16 %}
        {% include 'components/header.html' %}
    {% endwith %}
</div>
{% endblock header %}

{% block navbar %}
{% include 'components/navbar/navbar.html' %}
{% endblock navbar %}

{% block content %}
<div class="flex gap-3 mx-32 mt-5">
{% for order in all_orders %}
    <a href="/order/{{ order.id }}" class="shadow shadow-black rounded-lg p-5 hover:bg-green-500">
        <p><strong>Confirmation Number: </strong> {{ order.id }}</p>
        <p><strong>Ordered Date: </strong> {{ order.created_at.strftime("%b %d %Y") }}</p>
        <p><strong>Delivery Date: </strong>{{ order.delivery_date.strftime("%b %d %Y") }}</p>
        
    </a>
{% endfor %}
</div>
{% endblock content %}