{% extends 'base.html' %}

{% block header %}
<div class="md:mx-16 mt-5">
    {% with height=16 %}
    {% include 'components/header.html' %}
    {% endwith %}
</div>
{% endblock header %}

{% block navbar %}
{% include 'components/navbar/navbar.html' %}
{% endblock navbar %}

{% block content %}
<div class="flex flex-col items-center md:grid grid-cols-12 gap-5 my-5 mx-5 md:mx-44 h-full">
    <div class="md:border-r-2 col-span-3 h-full">
        {% include 'components/order_receipt.html' %}
    </div>
    <div class="text-center md:border-r-2 col-span-2 h-full">
        {% include 'components/order_status.html' %}
    </div>
    <div class="col-span-3 flex flex-col h-full text-center">
        {% include 'components/order_payment.html' %}
    </div>
    <div class="col-span-4 h-full">
        {% if order.status != 'finalizing order' %}
            {% include 'forms/order_notes.html' %}
        {% else %}
        <div>
            {% include 'forms/order_form2.html' %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}