{% extends 'base.html' %}

{% block header %}
<div class="md:mx-16 mt-5">
    {% with height=16 %}
        {% include 'components/header.html' %}
    {% endwith %}
</div>
{% endblock header %}

{% block navbar %}
{% include 'components/navbar/navbar.html' %}
{% endblock navbar %}

{% block content %}
<div class="grid grid-cols-12 gap-5 my-5 mx-44">
    <div class="border-r-2 col-span-3">
        <div class="flex flex-col">
            <div class="mb-3 flex flex-col gap-2">
                <h1 class="text-4xl underline">Your Cart</h1>
                <p><strong>Confirmation Number: </strong><span class="shadow shadow-black rounded p-1 bg-yellow-500 text-white font-bold">{{ order.id }}</span></p>
            </div>
            <div class="w-fit">
                <table>
                    <tbody>
                        {% for product in order.product_list %}
                            <tr>
                                <td class="border-none px-3 text-left">{{ product.name }}</td>
                                <td class="border-none px-3 text-right">${{ product.price }}</td>
                                <td class="border-none px-3 text-left text-xs">
                                    <a href="/order_content/{{ product.id }}/{{ order.id }}/delete">❌</a>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr class="border-t-2 border-black pt-3">
                            <td class="border-none px-3 text-left"><strong>Total</strong></td>
                            <td class="border-none px-3 text-right"><strong>${{ order.total }}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="text-center border-r-2 col-span-5">
        <p class="text-xl">Order Status: <span class="capitalize font-bold">{{ order.status }}</span></p>
        {% if order.status == "finalizing order" %}
            <p>Please finish filling out the order form on this page</p>
        {% endif %}
    </div>
    <div class="col-span-4">
        {% if order.status == 'submitted' %}
        <div class="shadow shadow-black p-3 rounded text-center">
            <form action="/order/{{ order.id }}/update" method="post">
                <input type="hidden" name="public_note_read" id="public_note_read" value="0">
                <div>
                    <textarea class="input w-full" name="public_notes" id="public_notes" cols="30" rows="10">
                        {{- order.public_notes -}}
                    </textarea>
                </div>
                <button class="btn-success">Update Notes</button>
            </form>
        </div>
        <div class="mt-5 text-center">
            <p>Thank you, your order has been submitted! If you would like to make any changes please contact Kendal at 253-205-6889</p>
        </div>
        {% else %}
        <div>
            {% include 'forms/order_form2.html' %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}