<div id="aboutme">
    <h2 class="section-header">About Me</h2>
    <div class="flex md:flex-row flex-col gap-3">
        <div class="w-full md:w-1/2 max-h-96 h-fit flex justify-center">
            <img class="max-h-96 h-fit" src="{{ url_for('static', filename='img/Fam.jpg') }}" alt="">
        </div> 
        <div class="w-full md:w-1/2 h-96">
            <div class="h-full overflow-hidden">
                <p>
                    My favorite way to show love is to serve, and my favorite way to serve is to feed the people I love.
                </p>
                <p>
                    Growing up in Indonesia, I didn't spend a lot of time in the kitchen because we had a helper who did the
                    cooking, but as I got older I loved cooking and baking for special occasions and it became something I
                    looked
                    forward to. It wasn't until I was an adult that I realized how much people appreciate having someone
                    else cook
                    or bake for them. Spending time in the kitchen is often thought of as time consuming and can be
                    exhausting, or
                    just simply something people don't want to do because there are so many other things to do.
                </p>
                <p>
                    Since leaving Indonesia and moving to the US in March 2020, I have had the opportunity to stay home to
                    homeschool our two boys. Although I take jobs outside the home here and there, I get to focus on our
                    home life
                    more than ever before. A lot of home life includes feeding my family and this kindled my desire to
                    expand my
                    ability to cook from scratch using more traditional methods. Often, using more traditional methods
                    produce
                    higher quality products. That is what I have found with making my own sourdough bread with a homegrown
                    starter.
                    I have no desire to buy bread made in a factory ever again!
                </p>
                <p>
                    Someday, my husband and I hope to live off the land more or less, provide for ourselves and our
                    neighbors (who
                    will include our family), and who knows, maybe trade my baked goods for eggs and milk straight from the
                    farmer
                    next door! In the meantime, I sell my goods to those in our community who are too busy with the
                    responsibilities
                    of life to spend hours in their kitchen. I am delighted to fill that role of the kitchen dweller to
                    provide my
                    community with baked blessings!
                </p>
            </div>
            <div>
                <a class="text-blue-500 underline">Read More</a>
            </div>
        </div>
    </div>
</div>