<div class="flex justify-center w-full">
    <div class="h-[{{ height }}em] w-full relative flex justify-center items-center">
        <img class="h-full w-full object-cover rounded-lg shadow shadow-black" src="{{ url_for('static', filename='img/CinRoll.jpg') }}" alt="CinRoll">
        <div class="absolute bg-bb-color-s-l text-white p-5 rounded-lg shadow flex flex-col items-center">
            <h1 class="text-6xl ">Baked Blessings</h1>
            <p class="font-bb-font-accent text-5xl">Baked with love and compasion</p>
        </div>
    </div>
</div>