<div class="flex flex-col gap-3" id="history">
    <h2 class="section-header">Sourdough History</h2>

    <div class="grid grid-cols-2 gap-3">
        <div>
            <h3 class="text-xl">What is Sourdough Bread?</h3>
            <p>Sourdough bread is a type of naturally leavened bread made from naturally occurring bacteria and wild yeast, otherwise known as a sourdough starter. The sourdough starter is fed and kept alive for at least a week before it is used to make sourdough bread.</p>
        
            <p>Each loaf of sourdough imparts a distinctly sour taste, coupled with a crisp crust, and incredibly soft interior.</p>
        </div>
        
        <div>
            <h3 class="text-xl">Where Did Sourdough Originate?</h3>
        
            <p>The true origins of sourdough bread are super ancient. We are unable to make a certified claim on where this delicious bread first originated.</p>
        
            <p>However, the first recorded civilization that we can fathom with confidence to have made sourdough loaves, was the Egyptians during 1500 BC.</p>
        
            <p>With countless theories surrounding this possibility, many assume that this form of bread baking was discovered purely by coincidence. It’s thought that the Egyptians left out a mixture of flour and water by accident. Some of the wild yeasts in the atmosphere merged with the dough, causing it to rise and create sourdough bread.</p>
        
            <p>The best food discoveries were often made by accident. It seems that the ancient Egyptians were no strangers to this.</p>
        
            <p>Some also assume that Egyptians loved their beer and brewery. Often had the two in the same place, consequently resulting in flour accidentally mixing with beer and producing a light loaf of bread.</p>
        
            <p>This discovery was trialed and perfected before the Egyptians learned that some of the sourdough cultures tasted better than others, especially when kept alive.</p>
        </div>
        
        <div>
            <h3 class="text-xl">Where Did Sourdough Travel Next?</h3>
        
            <p>From Egypt, news of sourdough’s brilliant fermented dough spread north to ancient Greece. Here it was initially baked at home by women, then at bakeries.</p>
        
            <p>Interestingly, there are sourdough recipes that originate from 17th-century France, where they also used the same sourdough culture we know today!</p>
        
            <p>Master bakers of France then took their sourdough baking formula to the Northern California gold rush days that occurred in 1848. In fact, it remains part of the culture of San Francisco today! These bakers realized that the sourdough cultures in San Francisco were very unique, consequently becoming famous amongst miners. They hasted to their local bakery every morning in search of their sour-style bread.</p>
        
            <p>Since then, San Francisco sourdough bakers have been using the same sourdough culture which they later nicknamed the “mother dough.” This sourdough culture was identical to our sourdough bread recipes as we know them today: flour, water, a pinch of salt, and “mother dough.”</p>
        
            <p>The mother dough was so beloved that it was heroically rescued by Louise Boudin during the Great San Francisco earthquake of 1906.</p>
        </div>
        
        <div>
            <h3 class="text-xl">Where Else Has Sourdough Been?</h3>
        
            <p>Sourdough baking then made its way to Alaska and the Yukon territories of Canada during the Klondike gold rush days of 1898. The extreme conditions encountered by experienced miners made it impossible to rely on conventional leavenings like commercial yeasts and baking soda, as a result, miners resorted to carrying a pouch of sourdough starter around their necks!</p>
        
            <p>As if that wasn’t crazy, miners were known to sleep with their starter in an attempt to keep the culture alive and prevent it from freezing during extreme weather conditions.</p>
        
            <p>Benefits of Sourdough Bread</p>
        
            <p>There is a huge difference between traditional and modern sourdough bread baking. For starters – no pun intended – the sourdough bread you buy from the grocery store does not even come close to the loaves you bake in your kitchen!</p>
        
            <p>Sourdough bread that has been permitted to ferment using wild yeasts in the atmosphere has an incredible variety of health benefits. You won’t get from commercially produced bread doughs. Sourdough bread is incredibly easy to digest, has very low gluten content, retains more nutrients, and helps avoid certain health issues like diabetes.</p>
        
            <p>This is why the art of making sourdough bread has grown so much in popularity since its first origin. We simply cannot ignore the wonderful lighter texture of our loaves, resulting in nothing but better bread that remains popular amongst home bakers to this day!</p>
        </div>
    </div>
    
    <p>Article taken from https://www.mydailysourdoughbread.com/origins-of-sourdough-bread/.</p>