<div class="bg-bb-c-secondary-light px-32" id="menu">
    <h2 class="text-xl">Menu</h2>
    <div class="grid grid-cols-12 p-3">
        <div class="col-span-4">
            <div class="grid grid-cols-3 gap-3 h-full">
                {% for cat in all_categories %}
                {% set outer_loop = loop.index0 %}
                {% for product in cat.all_products %}
                <div class="{{ 'bg-bb-c-accent-1 shadow-white' if outer_loop + loop.index0 == 0 else 'bg-white' }} w-[80%] text-center  cursor-pointer rounded shadow h-full flex justify-center items-center product-btn p-3"
                    target="product_{{ product.id }}">
                    <p>{{ product.name }}</p>
                </div>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="col-span-8 bg-white rounded">
            {% for cat in all_categories %}
            {% set outer_loop = loop.index0 %}
            {% for product in cat.all_products %}
            <div class="{{ '' if outer_loop + loop.index0 == 0 else 'hidden' }} min-h-[15em] flex flex-col items-center product-display"  id="product_{{ product.id }}">
                <div class="flex flex-col items-center">
                    <h3 class="text-2xl">{{ product.name }}</h3>
                    <div class="flex gap-3">
                        <p><strong>Size: </strong>{{ product.size }} inches in diameter</p>
                        <p><strong>qty: </strong>{{ product.qty }}</p>
                        <p><strong>price: </strong>${{ product.price }}</p>
                    </div>
                    <div class="flex gap-3">
                        {% if product.is_available %}
                        <p>{{ product.name }} is currently available! 😊</p>
                        {% else %}
                        <p>{{ product.name }} is currently not available 😭</p>
                        {% endif %}
                    </div>
                    <p><strong>description:</strong></p>
                    <p>{{ product.description }}</p>
                </div>
                <div class="mt-auto self-end mr-10 mb-3">
                    {% if 'order_id' in session %}
                    <a class="btn py-1 btn-select" href="">Add To Order</a>
                    <a class="btn py-1 btn-danger text-white"  href="/order/{{ session['order_id'] }}/delete">Cancel Order</a>
                    {% else %}
                    <a class="btn py-1 bg-accent-mustard" href="/order/create">Create New Order</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/menu.js') }}"></script>