<style type="text/tailwindcss">
    @layer utilities {
      body {
        @apply font-bb-font-text
      }

      h1,h2,h3 {
        @apply font-bb-font-heading
      }

      .section-header {
        @apply text-xl font-bb-font-heading border p-3 bg-bb-color-s-l w-fit text-white rounded-lg my-5;
      }

      input, .input {
        @apply border rounded text-center;
      }

      .form-field-col {
        @apply mb-3 flex flex-col items-center;
      }

      .form-field-row {
        @apply flex justify-between gap-3;
      }

      button, .btn {
        @apply shadow rounded px-3 py-1 cursor-pointer; 
      }
      .btn-success {
        @apply bg-green-500 font-bold;
      }
      .error-msg {
        @apply text-red-500;
      }

      table {
        @apply w-full text-center;
      }
      th {
        @apply bg-bb-color-s-l text-white;
      }
      th, td {
        @apply border border-black py-1;
      }

      /* .order-form-section {
        @apply flex flex-col items-center w-fit shadow shadow-black my-3 p-3 rounded-xl;
      } */
    }
</style>