<script>
    tailwind.config = {
        theme: {
            extend: {
                colors: {
                    "bb-color-p-l": '#FEFAE0',
                    "bb-color-s-l": '#606C38',
                    "bb-color-a": '#BC6C25',
                },
                fontFamily: {
                    "bb-font-heading": "Kiwi Maru",
                    "bb-font-text": "Josefin Slab",
                    "bb-font-accent": "Island Moments",
                }
            }
        }
    }
</script>