<script>
    tailwind.config = {
        theme: {
            extend: {
                colors: {
                    "bb-c-primary-light": '#FEFAE0',
                    "bb-c-secondary-light": '#606C38',
                    "bb-c-accent-1": '#BC6C25',
                    "bb-c-accent-2": '#E19F66',
                    "bb-c-accent-3": '#A2B36B',
                },
                fontFamily: {
                    "bb-font-heading": "Kiwi Maru",
                    "bb-font-text": "Josefin Slab",
                    "bb-font-accent": "Island Moments",
                }
            }
        }
    }
</script>