{% extends 'base.html' %}

{% block content %}
<div class="relative">
    <div class="fixed top-2 right-4 flex items-center gap-2">
        {% if 'order_id' in session %}
        {% if order.product_list | length > 0 %}
        <span class="bg-yellow-500 px-[0.5em] rounded-full">{{ order.product_list | length }}</span>
        {% endif %}
        <a href="/order/{{ order.id }}" class="text-xl">CART</a>
        {% endif %}
    </div>
</div>
<div class="mx-32 my-10 flex flex-col gap-10">
    {% with height=32 %}
    {% include 'components/header.html' %}
    {% endwith %}
    {% include 'components/navbar.html' %}
    {% include 'components/mission.html' %}
</div>
{% include 'components/menu2.html' %}
<!-- {% include 'components/menu.html' %} -->
<div class="mx-32 my-10 flex flex-col gap-10">
    {% include 'components/history.html' %}
    {% include 'components/about_me.html' %}
</div>
{% include 'components/footer.html' %}

{% endblock content %}